<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addevent</servlet-name>
        <servlet-class>Addevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IPostAnswer</servlet-name>
        <servlet-class>IPostAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPostAnswer</servlet-name>
        <servlet-class>SPostAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addquestion</servlet-name>
        <servlet-class>Addquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarJsonServlet</servlet-name>
        <servlet-class>CalendarJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_event_servlet</servlet-name>
        <servlet-class>add_event_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarDTO</servlet-name>
        <servlet-class>modal.CalendarDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAddquestion</servlet-name>
        <servlet-class>SAddquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sregvalidation</servlet-name>
        <servlet-class>Sregvalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iregvalidation</servlet-name>
        <servlet-class>Iregvalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uregvalidation</servlet-name>
        <servlet-class>Uregvalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iaddjob</servlet-name>
        <servlet-class>Iaddjob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sapplyjob</servlet-name>
        <servlet-class>Sapplyjob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sjobapplication</servlet-name>
        <servlet-class>Sjobapplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/servlet/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addevent</servlet-name>
        <url-pattern>/Addevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IPostAnswer</servlet-name>
        <url-pattern>/IPostAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPostAnswer</servlet-name>
        <url-pattern>/SPostAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addquestion</servlet-name>
        <url-pattern>/Addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarJsonServlet</servlet-name>
        <url-pattern>/CalendarJsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_event_servlet</servlet-name>
        <url-pattern>/add_event_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarDTO</servlet-name>
        <url-pattern>/CalendarDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAddquestion</servlet-name>
        <url-pattern>/SAddquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sregvalidation</servlet-name>
        <url-pattern>/Sregvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iregvalidation</servlet-name>
        <url-pattern>/Iregvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uregvalidation</servlet-name>
        <url-pattern>/Uregvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iaddjob</servlet-name>
        <url-pattern>/Iaddjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sapplyjob</servlet-name>
        <url-pattern>/Sapplyjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sjobapplication</servlet-name>
        <url-pattern>/Sjobapplication</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>register.html</welcome-file>
    </welcome-file-list>
</web-app>
